<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MapMapper">

    <select id="getTreeList" resultType="com.example.demo.domain.MapVO">
        select iId as id, ifnull(iParent, '#')as parent, sName as text, sIcon as icon ,sDesc as sdesc from tb_map;
    </select>

    <select id="getMap_Count" resultType="int">
        select Count(*) as MapCnt
        from tb_map;
    </select>

    <!--최상위 tree 이름 변경-->
    <update id="modifyMapHead" parameterType="com.example.demo.domain.MapVO">
        update tb_map
        set sName =#{text}
        where iid = #{id};
    </update>

    <insert id="addMap" parameterType="com.example.demo.domain.MapVO">
        insert into tb_map(iparent, sName,sDesc)
        values (#{parent},#{text},#{sdesc});
    </insert>

    <delete id="removeMap" parameterType="com.example.demo.domain.MapVO">
        delete
        from tb_map
        where iid = #{id};
    </delete>

    <delete id="removeMapwithDev" parameterType="com.example.demo.domain.MapVO">
        delete tree, dev, area
        from tb_map As tree
        inner join tb_apc_dev as dev
            on tree.iid = dev.iid
        inner join tb_cnt_area as area
            on dev.iid = area.imapid
        where tree.iid = #{id};
    </delete>

    <delete id="removeMapwithUnderMap" parameterType="com.example.demo.domain.MapVO">
        delete
        from tb_map
        where sName = #{text} OR iParent = #{parent};
    </delete>

    <delete id="removeMapwithUnderMapDev" parameterType="com.example.demo.domain.MapVO">
        delete tree, dev, area
        from tb_map As tree
        inner join tb_apc_dev as dev
            on tree.iid = dev.iid
        inner join tb_cnt_area as area
            on dev.iid = area.imapid
        where tree.iid = #{id};
    </delete>
</mapper>
