<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MapMapper">

    <select id="getTreeList" resultType="com.example.demo.domain.MapVO">
        select iId as id, ifnull(iParent, '#')as parent, sName as text, sIcon as icon from tb_map;
    </select>

    <select id="getMap_Table" resultType="com.example.demo.domain.MapVO">
        select iId as id, ifnull(iParent, '#')as parent, sName as text, sIcon as icon
        from tb_map
        limit  #{startList}, #{listSize};
    </select>
    <select id="getMap_Count" resultType="int">
        select Count(*) as MapCnt
        from tb_map;
    </select>
</mapper>
